body{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-color: #F8F8F8;
    box-sizing: border-box;
}
#text-top{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #60e1cb;
    width: 970px;
    height: 80px;
  /* 60E1CB 투명도 50%*/
    background-color: rgba(96, 225, 203, 0.5);;
}
#title{
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: 970px;
    height: 50px;
}

#textbox{
    resize: none;
    width: 970px;
    height: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#file-box{
    display: flex;
    width: 970px;
    border: 1px solid #d9d9d9;
    height: 120px;
    justify-content: center;
    align-items: center;
}
#file-add{
    color: #6B98F2;
    font-weight: bold;
    margin-right: 5px;
}
#file-add-input {
    display: none;
}
#textbox{
    padding: 10px;
}

#send{
    margin-top: 20px;
    margin-left: 1320px;
    width: 120px;
    height: 45px;
    background-color: #6B98F2;
    color: white;
    border: none;
    border-radius: 10px;
}
#text1{
    margin-right: 900px;
}