* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 마이페이지 전체 영역 */
#myPageProfile {
    width: 600px;
    /* height: 380px; */
    margin: auto;
    border-radius: 10px;
    /* box-shadow: 3px 3px 3px 3px lightgray; */
    background-color: #F8F8F8;
}
/* 로고 영역 & 로고 */
#imgArea{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgArea>img{
    margin-top: 15px;
}
/* 비밀번호 확인 전체 영역 */
#checkPwArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 비밀번호 확인 개별 영역 */
.checkPw-row{
    width: 330px;
    height: 50px;
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
}
/* 비밀번호 확인 input */
.checkPw-row>input{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-top: 1px solid #60E1CB;
    border-left: 1px solid #60E1CB;
    border-bottom: 3px solid #60E1CB;
    border-right: 3px solid #60E1CB;
    box-shadow: 4px 4px 5px #60E1CB;
}
/* 버튼 */
.checkPw-row>button{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #6B98F2;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.6);
    color: white;
    cursor: pointer;
    border: none;
}
.checkPw-row>button:hover{
    background-color: transparent;
    border: 2px solid #6B98F2;
    color: #6B98F2;
    font-weight: bold;
    font-size: 16px;
}
